ZAP_API_KEY=
ZAP_SCANNER_API_KEY=
BACKEND_URL=
VITE_API_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
OPENAI_API_KEY=
OPENAI_MODEL=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
SCAN_TIMEOUT_SECONDS=
SPIDER_MAX_DURATION_MINUTES=
SPIDER_MAX_DEPTH=
SPIDER_MAX_CHILDREN=
SPIDER_THREAD_COUNT=
ASCAN_MAX_DURATION_MINUTES=
ASCAN_MAX_RULE_DURATION_MINUTES=
ASCAN_MAX_RESULTS=
ASCAN_THREADS_PER_HOST=
ASCAN_DELAY_IN_MS=
WAIT_TIMEOUT=
POLL_INTERVAL=
#TARGET_URL=
